h1 {
    text-align: center;
    color: rgba(21,21,39,0.85);
    background-color: rgba(143,150,222,0.24);
}

.jumbotron {
    background-image: url("./pizza.png");
}

.ml-20 {
    margin-left: 20px;
}

.lightblue {
    background-color: lightblue;
}

.textblue {
    color: rgb(0, 102, 255);
}