.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width:798px) {

    .row {
        width: 100%;
    }

    .container {
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
    }

    .column {
        padding: 10px;
        height: 40px;
        box-sizing: border-box;
       /* float: left; */
        margin-bottom: 10px;
        display: inline-block;
        /*   border: 1px solid black;
         background-color: grey; */
    }

    .one-half {
        width: 50%;
    }

    .one-third {
        width: 33.333%;
    }

    .one-fourth {
        width: 25%;
    }

    .one-eighth {
        width: 12.5%;
    }

    .two-thirds {
        width: 66.666%;
    }

}